torch==2.5.1
torchvision
deepspeed
xformers==0.0.29
diffusers
numpy==1.26.4
opencv-python-headless
imageio-ffmpeg
bitsandbytes>=0.46.0
einops
gradio
nvitop
peft>=0.17.0
onnxruntime-gpu
safetensors>=0.5.3
scipy>=1.15.2
tensorboard
transformers==4.57.6
wandb
matplotlib
protobuf
sentencepiece
scikit-learn
seaborn
easydict
pytorch-fid
image-reward
hpsv2
flash-attn
